# Old names
account/
activities/
activity/
messages/
output/
programs/
servers/
README.txt

# New names in french ??? for some reason, they translate your folders to your language
Activité/
Activités/
Compte/
Messages/
Publicités/
Serveurs/
